@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #bbbcb6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  a {
    @apply dark:text-white/75;
    /* @apply visited:text-neutral-600; */
    /* @apply visited:underline visited:underline-offset-4; */
    @apply hover:underline hover:underline-offset-4;
  }

  input[type="range"] {
    @apply w-full;
    @apply h-2;
    @apply bg-transparent;
    @apply rounded-full;
  }

  input[type="range"]::-moz-range-track {
    @apply dark:bg-neutral-800 bg-current/10;
    @apply h-2 rounded-full;
  }

  input[type="range"]::-moz-range-progress {
    @apply dark:bg-white/80 bg-current/80 h-2 rounded-full;
  }

  input[type="range"]::-moz-range-thumb {
    @apply h-3 w-3 rounded-full dark:bg-current dark:border-none border border-current;
  }
}
